body {
  color: white;
  font-family: Helvetica;
  margin: 0;
  background-image: url('/NickFury.png');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.super-person-parent {
  transform: skew(-20deg);
  background: #D90429;
  width: 240px;
  height: 24px;
  font-size: 13pt;
  transition: 0.2s all ease;
}

.super-person-child{
  transform: skew(-20deg);
  background: #D90429;
  width: 240px;
  height: 20px;
  transition: 0.3s all ease;
}

.super-person-text{
  transform: skew(20deg);
  margin-left: 12px;
}

.hero-attributes{
  transition: 0.3s all ease;
  display: none;
  margin-left: 90px;
}

.header-wrapper{
  width: 100%;
  height: 100px;
  background-color: lightgrey;
  margin: 0;
  opacity: 0.9;
  transition: 0.3s all ease;
}

.header-wrapper:hover{
  background: blue;
}

.menu-container{
  padding-right: 20px;
  height: 100px;
  margin: 0;
  float: right;
}

.menu-item{
  display: inline-block;
  background-color: #D90429;
  width: 140px;
  height: 36px;
  margin: 32px 6px;
  transform: skew(-20deg);
  opacity: 1 !important;
  transition: 0.3s all ease;
}

.menu-text{
  transform: skew(20deg);
  margin: 0;
  padding-top: 6px;
  text-align: center;
  font-size: 14pt;

}

a:active, a:link, a:hover, a:visited{
    color: white;
    text-decoration: none;
}

.content-block{
    margin-left: 30px;
}

img{
    position: relative;
    width: 100%;
    height: 100%;
    opactiy: 0.3;
}

.super-person-parent:hover{
  margin-left: 20px;
  background: hotpink;
}

.super-person-child:hover{
  background: gold;
}

.menu-item:hover{
  background: lime;
}
