<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>LET THE BATTLE BEGIN</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>

<div class="header-wrapper">
    <div class="menu-container">
        <a th:href="@{'/super-people/'}"><div class="menu-item">
            <h1 class="menu-text" id="heroes-menu">Heroes</h1>
        </div></a>
        <a th:href="@{'/locations/'}"><div class="menu-item">
            <h1 class="menu-text" id="locations-menu">Locations</h1>
        </div></a>
        <a th:href="@{'/battles/'}"><div class="menu-item">
            <h1 class="menu-text" id="battles-menu">Battles</h1>
        </div></a>
        <a th:href="@{'/teams/'}"><div class="menu-item">
            <h1 class="menu-text" id="wins-menu">Team Wins</h1>
        </div></a>
    </div>
</div>

<div class="heroes-list content-block" id="heroes-list">
    <th:block th:each="battle : ${battles}">
        <div class="super-person-parent" th:onclick="'dropDown(\'' + ${battle.id} + '\');'">
            <p class="super-person-text" th:text="'Battle ' + ${battle.id}" />
        </div>
        <div th:id="${battle.id}" class="hero-attributes">
            <div class="super-person-child">
                <p class="super-person-text" th:text="'Super person 1: ' + ${battle.super_person_1}" />
            </div>
            <div class="super-person-child">
                <p class="super-person-text" th:text="'Super person 2: ' + ${battle.super_person_2}" />
            </div>
            <div class="super-person-child">
                <p class="super-person-text" th:text="'Location: ' + ${battle.location}" />
            </div>
            <div class="super-person-child">
                <p class="super-person-text" th:text="'Winner: ' + ${battle.winner}" />
            </div>
        </div>
    </th:block>
</div>

</body>
<script>
	function dropDown(id) {
		var e = document.getElementById(id);
    	if(e.style.display == null || e.style.display == "none") {
      	  	e.style.display = "block";
      	  	e.style.margin = "0 0 0 100px";
      	  	e.style.transition = "0.3s all ease";
    	} else {
    	    e.style.display = "none";
    	    e.style.margin = "0 0 0 70px"
    	    e.style.transition = "0.3s all ease";
    	}
	}
</script>
</html>