<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>LET THE BATTLE BEGIN</title>
    <link rel="stylesheet" type="text/css" href="/main.css"/>
</head>
<body>
<div class="header-wrapper">
    <div class="menu-container">
        <div class="menu-item">
            <h1 class="menu-text" id="heroes-menu"><a th:href="@{'/super-people/'}">Heroes</a></h1>
        </div>
        <div class="menu-item">
            <h1 class="menu-text" id="locations-menu"><a th:href="@{'/locations/'}">Locations</a></h1>
        </div>
        <div class="menu-item">
            <h1 class="menu-text" id="battles-menu"><a th:href="@{'/battles/'}">Battles</a></h1>
        </div>
        <div class="menu-item">
            <h1 class="menu-text" id="wins-menu"><a th:href="@{'/teams/'}">Team Wins</a></h1>
        </div>
    </div>
</div>

<div class="location-list content-block" id="location-list">
    <th:block th:each="location : ${locations}">
        <div class="super-person-parent" th:onclick="'dropDown(\'' + ${location.id} + '\');'">
            <p class="super-person-text" th:text="${location.name}" />
        </div>
        <div th:id="${location.id}" class="hero-attributes">
            <div class="super-person-child">
                <p class="super-person-text" th:text="'City: ' + ${location.city}" />
            </div>
        </div>
    </th:block>
</div>

</body>
<script>
	function dropDown(id) {
		var e = document.getElementById(id);
    	if(e.style.display == null || e.style.display == "none") {
      	  	e.style.display = "block";
      	  	e.style.margin = "0 0 0 100px";
      	  	e.style.transition = "0.3s all ease";
    	} else {
    	    e.style.display = "none";
    	    e.style.margin = "0 0 0 70px"
    	    e.style.transition = "0.3s all ease";
    	}
	}
</script>
</html>